<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Kitablar Listesi</title>
</head>
<body>
    <b>Bu kitablar səhifəsidir</b>

    <ul>
        <li th:each="book : ${books}">
            <p>
                <strong>Kitabın Adı:</strong> <span th:text="${book.getName()}"></span>
            </p>
            <p>
                <strong>Müəllif:</strong> <span th:text="${book.getId()}"></span>
            </p>
            <p>
                <strong>Müəlsadqwlif:</strong> <span th:text="${book.getPrice()}"></span>
            </p>
            <p>
                <strong>Müəlsadasdalif:</strong> <span th:text="${book.getPageCount()}"></span>
            </p>
        </li>
    </ul>

</body>
</html>

